     <div class="container">
  <h2></h2>
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">create new event</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <div class="row">
 <div class="col-md-6 col-md-offset-3">
   <%= form_for :user do |f| %>
     <%= f.label :event_title  %>
     <%= f.text_field :event_title %><br><br>

     <%= f.label :venue%>
     <%= f.text_field :venue %><br><br>

     <%= f.label :date %>
     <%= f.text_field :date %><br><br>
     
     <%= f.label :time%>
     <%= f.text_field :time %><br><br>
     <%= f.label :description %>
     <%= f.text_area :description %><br><br>

     <%= f.label :invitees %>
     <%= f.text_area :invitees%><br><br>

     <%= f.label :status %>
     <%= f.text_field :status%><br><br>

   <% end %>
 </div>
</div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">open</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>


