<% provide(:title, 'log in') %>


<div class="container">
  <h2></h2>
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">signup</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
        <div class="container">
          <div class="form-group">
 <div class="col-md-4">

   <%= form_for :user do |f| %>

   <% if @user.errors.any? %>
  
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>


     <%= f.label :first_name  %><br>
     <%= f.text_field :first_name %><br>

     <%= f.label :last_name%><br>
     <%= f.text_field :last_name,class: "col1" %><br>

     <%= f.label :username %><br>
     <%= f.text_field :username,class: "col1"%><br>
     
     <%= f.label :phone_number %><br>
     <%= f.text_field :phone_number,class: "col2" %><br>
     <%= f.label :email %><br>
     <%= f.text_field :email %><br>

     <%= f.label :password %><br>
     <%= f.password_field :password,class: "col2"%><br>

     <%= f.label :password_confirmation, "Confirmation" %><br>
     <%= f.password_field :password_confirmation,class: "col2" %><br><br>
    
     <%= f.submit %><br><br>
   <% end %>

 </div>
</div>
</div>
</div>
        </div>
        
      </div>
      
    </div>
  </div>
  





